#lilguy{

    background-color: rgb(0, 255, 34);
    border-radius: 5px;
    cursor: pointer;
    position: "fixed";

}

#wut{
  
    border-radius: 5px;
    cursor: pointer;
    position: "fixed";

}

.container{ 
    background-color: grey;}


