h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-image: url(https://i.imgur.com/9mdWDuY.jpeg);
    padding: 10px;
    margin: 30px;
    overflow: hidden;
}

.main{
    margin: 50px;
}

.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-indent: 0px;
    float: left;
    
}

.navbar a:hover{
    background-color: rgba(14, 17, 37, 0.414);
}
.navbar li{
    
    margin-left: 250px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}


body{ background-color: grey;}

.textbg b{

    background-color: whitesmoke;
}

.navbar2 ul{
    list-style-type: none;
    background-color: rgba(243, 50, 124, 0.851);
    width: 250px;
    height: 250px;
    margin-bottom: 20px;

}
.navbar2 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0px;
    display: block;
    text-align: left;
}
.navbar2 a:hover{
    background-color: rgba(78, 15, 76, 0.626);
}
.navbar2 li{
    
    margin-left: 0px;
}
.navbar3 ul{
    list-style-type: none;
    background-color:rgba(245, 245, 220, 0.404);
    padding: 10px;
    margin: 30px;
    overflow: hidden;
}

.navbar4 ul{
    list-style-type: none;
    background-color:rgb(128, 185, 242);
    padding: 10px;
    margin: 30px;
    overflow: hidden;
}
.title {
    color: rgb(255, 255, 255);
   
}
g{
    font-family: 'Arial Narrow';
}

#sidebar {
    position: fixed;
    left: 0;
    top: 20%;
    width: 10em;
    margin-top:-2.5em;
    background-color: rgba(255, 255, 255, 0.271);
   
}

.hide {
    position: fixed;
    left: 20px;
    top: 25%;
    width: 10em;
    margin-top:-2.5em;
    background-color: rgba(255, 255, 255, 0.271);

}