h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-image: url(https://i.imgur.com/9mdWDuY.jpeg);
    padding: 10px;
    margin: 30px;
    width: 100%; 
    overflow: hidden;
}

.main{
    margin: 50px;
}

.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-indent: 0px;
    float: left;

    
}

.navbar a:hover{
    background-color: rgba(14, 17, 37, 0.414);
}
.navbar li{
    /*pushes links past logo*/
    margin-left: 250px;
}

@media screen and (max-width: 600px){
body{
    width: 100%;
    margin: 0;   
}
img{
    width: 100%;
    height: auto;
}
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}


body{ background-color: grey;}

.textbg b{

    background-color: whitesmoke;
}

.navbar2 ul{
    list-style-type: none;
    background-color: rgba(243, 50, 124, 0.851);
    width: 250px;
    height: 250px;
    margin-bottom: 20px;

}
.navbar2 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0px;
    display: block;
    text-align: left;
}
.navbar2 a:hover{
    background-color: rgba(78, 15, 76, 0.626);
}
.navbar2 li{
    
    margin-left: 0px;
}
.navbar3 ul{
    list-style-type: none;
    background-color:rgba(245, 245, 220, 0.404);
    padding: 10px;
    margin: 30px;
    overflow: hidden;
}

.navbar4 ul{
    list-style-type: none;
    background-color:rgb(128, 185, 242);
    padding: 10px;
    margin: 30px;
    overflow: hidden;
}

.button{
 padding: 10px;
 font-size: 16px;
 cursor: pointer;
}



.title {
    color: rgb(255, 255, 255);
   
}
g{
    font-family: 'Arial Narrow';
}

#sidebar {
    position: fixed;
    left: 0;
    top: 31%;
    width: 10em;
    margin-top:-2.5em;
    background-color: rgba(118, 255, 64, 0.271);
   
}

#sidebar1x {
    position: fixed;
    left: 0;
    top: 29%;
    width: 10em;
    margin-top:-2.5em;
    background-color: rgba(118, 255, 64, 0.271);
   
}

.hide {
    position: fixed;
    left: 50px;
    top: 25%;
    width: 50em;
    margin-top:-2.5em;


}

#sidebar2 {
    position: fixed;
    right: 0;
    top: 31%;
    width: 10em;
    margin-top:-2.5em;
    background-color: rgba(0, 255, 174, 0.271);
}

#sidebar2x {
    position: fixed;
    right: 0;
    top: 29%;
    width: 10em;
    margin-top:-2.5em;
    background-color: rgba(0, 255, 174, 0.271);
}

.hide2 {
    position: fixed;
    right: 50px;
    top: 25%;
    width: 50em;
    margin-top:-2.5em;

}

#lilguy{
    width: 500px;
    height: 800px;
    background-image:url(https://i.imgur.com/QaZBv7A.png);
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 65%;

}
