<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Mount Mango!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h2><nav class = navbar>

     <ul>
        <li><h1>Mount Mango</h1></li>
        <li><h3><a href ="">Read</a></h3></li>
        <li><h3><a href ="">Extras</a></h3></li>
        <li><h3><a href ="">About</a></h3></li>
    </ul> 
</nav> </h2>

<div class=gc>

  <div class="slides">
    <div><img style='border:5px solid black' src="https://i.imgur.com/pH1yQO0.jpeg" width="500" height="1900" class="center" ></div>
    <div><img style='border:5px solid black' src="https://i.imgur.com/98NWqAB.jpeg" width="500" height="1900" class="center" ></div>


  </div>
</div>